<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <div class="card shadow">
                <div class="card-body p-6">
                    <div class="mb-4">
                        <h1 class="mb-1 fw-bold">Change Password</h1>

                        {{#if passwordUpdatedFlashMessage}}
                        <div class="alert alert-success mt-3" role="alert">
                            {{passwordUpdatedFlashMessage}}
                        </div>
                        {{/if}}
                    </div>
                    <form action="/users/changePassword" method="post" id="change-password-form"
                        class="needs-validation" novalidate>

                        <label for="currentPassword" class="form-label">Current Password<span
                                class="mandatory">*</span></label>
                        <div class="mb-3 input-group">
                            <input type="password" id="currentPassword" class="form-control" name="currentPassword"
                                placeholder="********" required="required" autocomplete="off" />
                            <button class="btn btn-outline-secondary show-password" type="button">Show</button>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Password is mandatory.
                            </div>
                            <div class="invalid-feedback">
                                Password should be of at least 8 characters long.
                            </div>
                            <div class="invalid-feedback">
                                Password should have only alphanumeric or special characters and no spaces.
                            </div>
                        </div>

                        <label for="newPassword" class="form-label">New Password<span class="mandatory">*</span></label>
                        <div class="mb-3 input-group">
                            <input type="password" id="newPassword" class="form-control" name="newPassword"
                                placeholder="********" required="required" autocomplete="off" />
                            <button class="btn btn-outline-secondary show-password" type="button">Show</button>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Password is mandatory.
                            </div>
                            <div class="invalid-feedback">
                                Password should be of at least 8 characters long.
                            </div>
                            <div class="invalid-feedback">
                                Password should have only alphanumeric or special characters and no spaces.
                            </div>
                        </div>

                        <label for="confirmPassword" class="form-label">Confirm Password<span
                                class="mandatory">*</span></label>
                        <div class="mb-3 input-group">
                            <input type="password" id="confirmPassword" class="form-control" name="confirmPassword"
                                placeholder="********" required="required" autocomplete="off" />
                            <button class="btn btn-outline-secondary show-password" type="button">Show</button>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Password is mandatory.
                            </div>
                            <div class="invalid-feedback">
                                Password should be of at least 8 characters long.
                            </div>
                            <div class="invalid-feedback">
                                Password should have only alphanumeric or special characters and no spaces.
                            </div>
                        </div>

                        <p class="text-danger d-none" id="error-message"></p>

                        <div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/public/js/parents.js"></script>