<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <div class="card shadow">
                <div class="card-body p-6">

                    <div class="mb-4">
                        <h1 class="mb-1 fw-bold">Edit your profile</h1>
                    </div>

                    <form
                        id="edit-user-profile"
                        class="needs-validation"
                        novalidate
                    >

                        <div class="mb-3">
                            <label for="first-name" class="form-label">First
                                Name<span class="mandatory">*</span></label>
                            <input
                                type="text"
                                id="first-name"
                                class="form-control"
                                name="first-name"
                                placeholder="First Name"
                                value={{parent.firstName}}
                                required="required"
                                autocomplete="off"
                            />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                First name is mandatory.
                            </div>
                            <div class="invalid-feedback">
                                First name should have only alphabetical
                                characters and/or spaces.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="last-name" class="form-label">Last Name<span
                                    class="mandatory"
                                >*</span></label>
                            <input
                                type="text"
                                id="last-name"
                                class="form-control"
                                name="last-name"
                                placeholder="Last Name"
                                value={{parent.lastName}}
                                required="required"
                                autocomplete="off"
                            />
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Last name is mandatory.
                            </div>
                            <div class="invalid-feedback">
                                Last name should have only alphabetical
                                characters and/or spaces.
                            </div>
                        </div>

                        <p class="text-danger d-none" id="error-message"></p>

                        <div>
                            <div class="d-grid">
                                <button
                                    type="submit"
                                    id="submitButton"
                                    name="submitButton"
                                    class="btn btn-primary"
                                >Save Profile</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/validator@latest/validator.min.js"></script>
<script src="/public/js/parents.js"></script>