<main role="main">

    <section class="my-5">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row align-items-center">
                <!-- col -->
                <div class="col-lg-6 mb-6 mb-lg-0">
                    <div class="">
                        <!-- heading -->
                        <h5 class="text-dark mb-2"><i
                                class="fe fe-check icon-xxs icon-shape bg-light-success text-success rounded-circle me-2"
                            ></i>Most trusted education platform</h5>
                        <!-- heading -->
                        <h1 class="display-3 fw-bold mb-3">Set learning free</h1>
                        <!-- para -->
                        <p class="pe-lg-10 mb-3">Let kids' curiosity run wild
                            with online courses on any topic you can imagine.</p>
                        <!-- btn -->
                        <a href="/courses" class="btn btn-primary">Browse
                            Courses</a>
                    </div>
                </div>
                <!-- col -->
                <div class="col-lg-6 d-flex justify-content-center">
                    <!-- images -->
                    <div class="">
                        <img
                            src="../../public/images/landing-page-1.png"
                            height="650"
                        />

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>